name: Workflow for Deployments
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/output.yml'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Run linting
        run: npm run lint
      - name: Run tests
        run: npm run test
      - name: Build project
        run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/
      - name: download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
      - name: Display build files
        run: ls -la dist/
      - name: Deploy application
        run: echo "Deploying application..."