name: Reuse Workflow
on:
  workflow_call:
    inputs:
      artifact_name:
        description: 'Name of the artifact to download'
        required: false
        default: 'dist'
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact from deployment workflow
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
      - name: List downloaded files
        run: ls -la
      - name: Output information
        run: echo "Deployment Successful"